# 1. Dependências
/backend/node_modules
/frontend/node_modules
node_modules/

# 2. Arquivos de Build/Cache
/frontend/build
# Logs
*.log
# Cache de SO (Windows/macOS)
Thumbs.db
.DS_Store

# 3. Segredos e Banco de Dados
/backend/.env
/backend/database.sqlite